accueil {

  p {
    margin: 20px 0;
    line-height: 22px;
    font-size: 16px;
  }

}


.center {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.marge {
    margin-top:3rem;
}

.icones {
    margin-top:9rem;
}
