<ion-header>
    <ion-navbar primary>
        <button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Mensualités</ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
    <ion-list *ngIf="datas">
        <ion-item >
            <ion-label floating >
                <ion-icon name="logo-euro"></ion-icon>
              Montant du prêt</ion-label>
             <ion-input   [(ngModel)]="datas.montant" #montant (keyup)="onKey('montant', montant.value)" type="number" ></ion-input>
        </ion-item>
        
        <ion-item>
            <ion-label floating >
                <ion-icon name="logo-euro"></ion-icon>
              Apport</ion-label>
             <ion-input  [(ngModel)]="datas.apport" (keyup)="onKey('apport', apport.value)" #apport type="number"    ></ion-input>
        </ion-item>
        
        <ion-item>
         <ion-label [style.margin-bottom.rem]="ios ? '1' : ''" floating class="labelRange" >Durée du prêt (en années)

           <!--  badge que sur ios car pas de pin -->
            <ion-badge *ngIf="ios" item-right color="primary">{{datas.duree}}</ion-badge>
         </ion-label>
          
           <!--  pin que sur android -->
         <ion-range min="7" max="30" [pin]="ios ? 'false' : 'true'" #duree  [(ngModel)]="datas.duree" (ionChange)="onKey('duree', duree.value);calculTaux(duree.value)">

           <ion-icon class="labelRange" range-left small name="timer"></ion-icon>
           <ion-icon class="labelRange" range-right name="timer"></ion-icon>
         </ion-range> 

        </ion-item>
        <ion-item>
            <ion-label floating>
                <ion-icon name="trending-up"></ion-icon>
                Taux d'intérêt (%)</ion-label>
            <ion-input [(ngModel)]="datas.interets" #interets (keyup)="onKey('interets', interets.value)" type="number" ></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>
                <ion-icon name="home"></ion-icon>
                Taux d'assurance (%)</ion-label>
            <ion-input  [(ngModel)]="datas.assurance" #assurance (keyup)="onKey('assurance', assurance.value)" type="number" max="2" ></ion-input>
        </ion-item>
        <ion-item>
            <ion-label floating>
                <ion-icon name="briefcase"></ion-icon>
                Frais de dossier (€)</ion-label>
            <ion-input [(ngModel)]="datas.dossier"  #dossier (keyup)="onKey('dossier', dossier.value)" type="number"></ion-input>
        </ion-item>
        <ion-item>
           <ion-label floating>
               <ion-icon name="key"></ion-icon>
               Frais de caution (€)</ion-label>
           <ion-input [(ngModel)]="datas.caution" disabled #caution  type="number" ></ion-input>
       </ion-item> 
        <ion-item>
           <ion-label floating>
               <ion-icon name="brush"></ion-icon>
               Frais de notaire (€)</ion-label>
           <ion-input [(ngModel)]="datas.notaire"  #notaire (keyup)="onKey('notaire', notaire.value)" type="number" ></ion-input>
       </ion-item> 
   </ion-list>

<h5><b>Mensualités :</b></h5>

<div *ngIf="datas && datas.duree > 0 && datas.interets >  0 && datas.montant >  0">
  <b>{{result}} €</b><br>


   <div *ngIf="montantAssurance">Le coût total de l'assurance sera de <b>{{montantAssurance}} €</b> soit <b>{{assuranceMois}} €</b> par mois
  </div>

  <button primary (click)="openDevis()"><b>Faire une demande de devis</b></button>
  <br>
  <p class="condition"><i>Ces montants sont établis à partir des informations que vous nous avez données. Ils ne constituent pas une offre contractuelle et ne sauraient engager la responsabilité de la société Mantica.</i></p>
</div>
</ion-content>
